
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Hyperlink:</strong>
  <%= link_to @book.text %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', book_path %>
